# Python
__pycache__/
*.pyc
.venv/
venv/
.pytest_cache/
.ruff_cache/
.coverage
*.db
.env

# Node
node_modules/
dist/
npm-debug.log*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
terraform.tfvars

# OS / editors
.DS_Store
.idea/
.vscode/
